#pokemon_content{
  width: 300px;
  height: 300px;
  float: left;
  border: 1px gray solid;
  border-radius: 10px;
}

#pokemon_image{
  width: 100%;
  height: 100%;
}

#skills_content{
  width: 550px;
  height: 550px;
  float: left;
  position: relative;
  left: -40px;
}

table{
  position: relative;
  top: -100px;
}



