{% extends "layout.html" %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

  <div class="row">
      <form class="col s9" method="GET" action="">
        <div class="row">
          <div class="input-field col s6">
            <input id="search" type="text" >
            <label for="search">Find a pokemon...</label>
          </div>
          <div class="input-field col s6">
              <button class="btn waves-effect waves-light" type="submit" id="btn_pokemon">Find
                  <i class="material-icons right">send</i>
              </button>
          </div>
        </div>
      </form>
    </div>


<script type="text/javascript">
  $("form").submit(function(event){
    event.preventDefault();

    var search = $('#search').val();
    var url = "http://localhost:5000/pokemon/" + search

    $(window.document.location).attr('href',url);
  });
</script>



{% for i in range(150) %}

<a class="pokemon_link" href="{{ 'http://localhost:5000/pokemon/' + pokemons[i]['name']  }}">
  <div class="card">
      <div class="image">

        {% set id = i+1 %}

          {% if id < 10 %}
            <img class="img_content" src="{{ img[0] + id|string + '.png'}}">
          {% endif %}

          {% if id > 9 and id <= 99 %}
            <img class="img_content" src="{{ img[1] + id|string + '.png'}}">
          {% endif %}

          {% if id > 99 %}
            <img class="img_content" src="{{ img[2] + id|string + '.png'}}">
          {% endif %}

        <center>
            <span> {{ '#' + id|string + ' ' + pokemons[i]['name'] }} </span>
        </center> 
      
      </div>
    <div class="classfication"> </div>
  </div>
</a>

{% endfor %}


{% endblock %}