{% extends "layout.html" %}


{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='pokemon.css') }}">
  <title> {{ title }} </title>

  {% set id = pokemon['pokedex_number'] %}

  <div id="pokemon_content">

    {% if id < 10 %}
      <img id="pokemon_image" src="{{ img[0] + id|string + '.png'}}">
    {% endif %}

    {% if id > 9 and id <= 99 %}
      <img id="pokemon_image" src="{{ img[1] + id|string + '.png'}}">
    {% endif %}

    {% if id > 99 %}
      <img  id="pokemon_image" src="{{ img[2] + id|string + '.png'}}">
    {% endif %}

    <center>
      <h6> {{ pokemon['name'] }} </h6>
    </center>
  </div>


  <div id="skills_content">
      <canvas id="skills"> </canvas>
  </div>
  

  <table>
      <thead>
        <tr>
            <th>Pokedex number</th>
            <th>Name</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>height_m</th>
            <th>hp</th>
            <th>speed</th>
            <th>weight_kg</th>
            <th>Is legendary</th>
            <th>generation</th>
        </tr>
      </thead>

      <tbody>
         <tr>
          <td> {{ pokemon['pokedex_number'] }} </td>
          <td> {{ pokemon['name'] }} </td>
          <td> {{ pokemon['attack'] }} </td>
          <td> {{ pokemon['defense'] }} </td>
          <td> {{ pokemon['height_m'] }} </td>
          <td> {{ pokemon['hp'] }} </td>
          <td> {{ pokemon['speed']}} </td>
          <td> {{ pokemon['weight_kg'] }} </td>
          <td> {{ pokemon['is_legendary'] }} </td>
          <td> {{ pokemon['generation'] }} </td>
        </tr>

      </tbody>
  </table>


  <script type="text/javascript">
      var ctx = document.getElementById('skills').getContext('2d');
      var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'radar',

      // The data for our dataset
      data: {
          labels: ['attack', 'defense', 'speed', 'hp'],
          datasets: [{
              label: "{{ pokemon['name'] }}",
              backgroundColor: 'rgba(0,204,255,0.2)',
              borderColor: '#00CCFF',
              data: ["{{ pokemon['attack'] }}", "{{ pokemon['defense'] }}", "{{ pokemon['speed'] }}", "{{ pokemon['hp'] }}"]
          }]
      },

      responsive: true,
      maintainAspectRatio: false,

      options: {}
    });
  </script>




{% endblock %}